:root {
    --intro-top: 44.270833333333333%;
    --intro-bottom: 50.1302083333333%;
    --intro-left: 23.792093704245974%;
    --intro-right: 64.787701317715959%;

    --main-left: 27.232796486090776%;
    --plus-top: 8.723958333333333%;
    --plus-bottom: 87.760416666666667%;
    --plus-left: 82.357247437774524%;
    --plus-right: 10.837481698389458%;
    --v2-bottom: calc(var(--plus-top) + 130px + 11.067708333333333%);
}

.frontpage {
    position: relative;
    width: 100vw;
    height: 100vh;

    background: #F9F9F9;
}

.logo {
    position: relative;
    width: 59px;
    height: 24px;
    left: 22.913616398243045%;
    top: 9.114583333333333%;
}

.logo-ellipse3 {
    cx: 12px;
    cy: 12px;
    r: 12px;
    fill: #C4C4C4;
}

.logo-ellipse2 {
    cx: 47px;
    cy: 12px;
    r: 12px;
    fill: #C4C4C4;
}

.intro-text {
    position: absolute;
    width: 0px;
    height: 0px;
    left: var(--intro-left);
    top: var(--intro-top);
    font-family: 'Lato';
    font-style: normal;
    font-weight: normal;
    font-size: 36px;
    line-height: 43px;
    display: flex;
    align-items: center;
    white-space: nowrap;
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Old versions of Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none;

    color: #000000;
}

.main-text {
    position: absolute;
    width: 0px;
    height: 0px;
    left: var(--main-left);
    top: calc(var(--intro-bottom) + 45px);
    font-family: Fira Code;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    white-space: nowrap;

    display: flex;
    align-items: center;
    letter-spacing: 0.02em;

    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Old versions of Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none;

    color: #000000;
}

.main-text.basedin {
    position: absolute;
    padding-top: 42px;
    color: #6C6C6C;
}

.main-text.currently {
    position: absolute;
    padding-top: 21px;
}

.main-text.currently.currentproj {
    position: absolute;
    padding-left: 90px;
    color: #4F75FF;
}

.text-scrolldown {
    position: absolute;
    width: 0px;
    height: 0px;
    left: calc(var(--main-left) - 62px);
    top: calc(var(--intro-bottom) + 257px);

    font-family: Fira Code;
    font-style: normal;
    font-weight: normal;
    font-size: 8px;
    line-height: 100%;
    white-space: nowrap;
    /* identical to box height, or 8px */

    display: flex;
    align-items: center;
    letter-spacing: 0.1em;

    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Old versions of Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none;

    color: #BEBEBE;

    transform: rotate(90deg);
}

.vector-1 {
    position: absolute;
    width: 0px;
    height: 100%;
    left: calc(var(--main-left) - 42px);
    top: calc(var(--intro-bottom) + 60px);
}

.vector-1-line {
    position: absolute;
    left: 0%;
    right: 100%;
    top: 0%;
    bottom: 0%;

    border: 1px solid #BEBEBE;
}

.circle {
    position: absolute;
    width: 6px;
    height: 6px;
    left: calc(var(--main-left) - 44px);
    top: calc(var(--intro-bottom) + 41px);
    border-radius: 3px;
    border: 1px solid #BEBEBE;
    box-sizing: border-box;
}

/* TOP RIGHT CORNER */

.plus {
    position: fixed;
    width: 0px;
    height: 0px;
    right: var(--plus-right);
    top: var(--plus-top);


    font-family: Lato;
    font-style: normal;
    font-weight: 900;
    font-size: 18px;
    line-height: 150%;

    letter-spacing: 0.05em;

    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Old versions of Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none;

    color: #000000;
}

.date {
    position: fixed;
    width: 0px;
    height: 0px;
    right: calc(var(--plus-right) - 10px);
    top: calc(var(--plus-top) + 32px);
    font-family: Fira Code;
    font-style: normal;
    font-weight: normal;
    font-size: 10px;
    line-height: 100%;
    white-space: nowrap;
    /* identical to box height, or 10px */

    letter-spacing: 0.1em;

    color: #000000;

    transform: rotate(90deg);

    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Old versions of Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none;
}

.vector-2 {
    position: fixed;
    width: 0px;
    height: 11.067708333333333%;
    right: calc(var(--plus-right) - 4px);
    top:  calc(var(--plus-top) + 130px);
}

.vector-2-line {
    position: absolute;
    left: 410.68%;
    right: -310.68%;
    top: 0%;
    bottom: 0%;

    border: 1px solid #BEBEBE;
}

.time {
    position: fixed;
    width: 0px;
    height: 0px;
    right: calc(var(--plus-right) - 10px);
    top: calc(var(--v2-bottom) + 10px);
    font-family: Fira Code;
    font-style: normal;
    font-weight: normal;
    font-size: 10px;
    line-height: 100%;
    white-space: nowrap;
    letter-spacing: 0.1em;
    color: #000000;
    transform: rotate(90deg);

    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Old versions of Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none;
}

.time.actual {
    top: calc(var(--v2-bottom) + 128px);
    color: #4F75FF;
}

.popout {
    position: fixed;
    width: 166px;
    height: 271px;
    right: calc(var(--plus-right) + 35px);
    top: 9.114583333333333%;

    background: #FFFFFF;

    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Old versions of Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none;
}

.about {
    position: absolute;
    width: 63px;
    height: 20px;
    left: 30px;
    top: 29px;

    font-family: Fira Code;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 150%;
    /* or 21px */

    letter-spacing: 0.05em;

    color: #000000;

}

.work {
    position: absolute;
    width: 36px;
    height: 21px;
    left: 30px;
    top: 81px;

    font-family: Fira Code;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 150%;
    /* identical to box height, or 21px */

    letter-spacing: 0.05em;

    color: #000000;
}

.contact {
    position: absolute;
    width: 63px;
    height: 21px;
    left: 30px;
    top: 133px;

    font-family: Fira Code;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 150%;
    /* identical to box height, or 21px */

    letter-spacing: 0.05em;

    color: #000000;

}
