:root {
    --plus-top: 4.361979167%;
    --plus-bottom: 43.880208333%;
    --plus-left: 82.357247437774524%;
    --plus-right: 10.837481698389458%;
    --v2-bottom: calc(var(--plus-top) + 130px + 5.533854167%);
}

.navbar {
    position: fixed;
    z-index: 99;
}
.plus {
    position: fixed;
    width: 0px;
    height: 0px;
    right: var(--plus-right);
    top: var(--plus-top);


    font-family: Lato;
    font-style: normal;
    font-weight: 900;
    font-size: 18px;
    line-height: 150%;

    letter-spacing: 0.05em;

    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Old versions of Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none;

    color: #000000;
}

.date {
    position: fixed;
    width: 0px;
    height: 0px;
    right: calc(var(--plus-right) - 10px);
    top: calc(var(--plus-top) + 32px);
    font-family: Fira Code;
    font-style: normal;
    font-weight: normal;
    font-size: 10px;
    line-height: 100%;
    white-space: nowrap;
    /* identical to box height, or 10px */

    letter-spacing: 0.1em;

    color: #000000;

    transform: rotate(90deg);

    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Old versions of Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none;
}

.vector-2 {
    position: fixed;
    width: 0px;
    height: 5.533854167%;
    right: calc(var(--plus-right) - 4px);
    top:  calc(var(--plus-top) + 130px);
}

.vector-2-line {
    position: absolute;
    left: 410.68%;
    right: -310.68%;
    top: 0%;
    bottom: 0%;

    border: 1px solid #BEBEBE;
}

.time {
    position: fixed;
    width: 0px;
    height: 0px;
    right: calc(var(--plus-right) - 10px);
    top: calc(var(--v2-bottom) + 10px);
    font-family: Fira Code;
    font-style: normal;
    font-weight: normal;
    font-size: 10px;
    line-height: 100%;
    white-space: nowrap;
    letter-spacing: 0.1em;
    color: #000000;
    transform: rotate(90deg);

    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Old versions of Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none;
}

.time.actual {
    top: calc(var(--v2-bottom) + 128px);
    color: #4F75FF;
}

.popout {
    position: fixed;
    width: 166px;
    height: 271px;
    right: calc(var(--plus-right) + 35px);
    top: 4.557291667%;

    background: #FFFFFF;

    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Old versions of Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none;
}

.example-enter {
    opacity: 0.01;
}

.example-enter.example-enter-active {
    opacity: 1;
    transition: opacity 500ms ease-in;
}

.example-exit {
    opacity: 1;
}

.example-exit.example-exit-active {
    opacity: 0.01;
    transition: opacity 300ms ease-in;
}

.about {
    position: absolute;
    width: 63px;
    height: 20px;
    left: 30px;
    top: 29px;

    font-family: Fira Code;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 150%;
    /* or 21px */

    letter-spacing: 0.05em;

    color: #000000;

}

.work {
    position: absolute;
    width: 36px;
    height: 21px;
    left: 30px;
    top: 81px;

    font-family: Fira Code;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 150%;
    /* identical to box height, or 21px */

    letter-spacing: 0.05em;

    color: #000000;
}

.contact {
    position: absolute;
    width: 63px;
    height: 21px;
    left: 30px;
    top: 133px;

    font-family: Fira Code;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 150%;
    /* identical to box height, or 21px */

    letter-spacing: 0.05em;

    color: #000000;

}
